    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #f4f4f4;
    }
    
    $primary-color: #0056b3;
    $secondary-color: #e9ecef;
    
    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: #fff;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover {
        background-color: darken($primary-color, 10%);
        }
    }
    
    header {
        background: $secondary-color;
        padding: 1rem 0;
        text-align: center;
    }
    
    .gallery img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 5px;
    }
    